@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Archivo+Black|Exo+2|Lemonada|Lobster|Montserrat|Pacifico|Permanent+Marker|Playfair+Display+SC|Rajdhani|Raleway&display=swap');

p {
    font-family: "Raleway"; 
    font-size: 1rem; 
    line-height: 30px; 
}
button {
    background-color: pink; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    width: 80px; 
    margin: 5px; 
}
button:hover {
    color: white; 
}
textarea {
    border: 2px dashed black; 
    height: 100px; 
    width: 100%;
    font-size: 10px; 
    text-align: center;  
    line-height: 20px; 
    margin-bottom: 30px; 
}
#nodeToRenderAsPDF {
    font-size: 20px; 
    line-height: 20px; 
    padding: 10px; 
    height: 300px; 
}
.container {
    display: grid;
    grid-template-columns: 60% 40%;  
    grid-column-gap: 10px; 
    grid-row-gap: 8px; 
}
@media(min-width: 800px ){
    .container {
        grid-template-columns: 60% 40%; 
    }
    p {
        font-size: 1.5rem; 
    }
    #nodeToRenderAsPDF {
        height: 500px; 
        font-size: 50px; 
        line-height: 50px; 
        padding: 30px; 

    }

    textarea {
        height: 100px; 
        font-size: 1rem; 
    }
}
