@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Qwigley|Damion|Megrim|Monoton|Montserrat|Pacifico|Permanent+Marker|Playfair+Display+SC|Vast+Shadow|Limelight|Yesteryear&display=swap');

p {
    font-family: "Raleway"; 
    font-size: 1rem; 
    line-height: 30px; 
}
#buttonContainer {
    display: grid; 
    grid-template-columns: 50% 50%; 
    grid-row-gap: 10px; 
}
button {
    background-color: pink; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    width: 50px; 
}
#saveButton, button:hover {
    color: white; 
}
#saveButton {
    width: 80px; 
    display: block; 
    margin: 0 auto; 
}
textarea {
    border: 2px dashed black; 
    height: 100px; 
    width: 100%;
    font-size: 8px; 
    line-height: 20px; 
}
#nodeToRenderAsPDF {
    font-size: 1em; 
    line-height: 1.5em; 
    letter-spacing: 0.03em;
    padding: 10px; 
}
.container {
    display: grid;
    grid-template-columns: 60% 40%;  
    grid-column-gap: 10px; 
    grid-row-gap: 8px; 
}
@media(min-width: 800px ){
    .container {
        grid-template-columns: 60% 40%; 
    }
    p {
        font-size: 1.5rem; 
    }
    button {
        width: 80px; 
    }
    #nodeToRenderAsPDF {
        font-size: 2em; 
        line-height: 50px; 
    }
    #buttonContainer {
        grid-template-columns: 25% 25% 25% 25%; 
    }
    textarea {
        height: 100px; 
        font-size: 1rem; 
        margin-bottom: 30px; 
    }
}
